// Navigation bar and spacer
.navspc {opacity: 0} // Make navigation spacer invisible
.navbar {position: fixed} // Make the navigation bar stay at the top at all times
.navspc, .navbar {
    // Positioning
    margin: 0;
    top: 0;
    left: 0;

    // Sizing
    width: 100%;
    height: $navigation-bar-height;

    // Colour
    background-color: $navbar-bgcolor;
}